In [1]:
import pandas as pd

In [49]:
data = pd.read_csv('data/1410020101-noSymbol.csv',header=None,engine='python', skiprows=5,skipfooter=21)

In [50]:
data = data.drop([1])

In [51]:
data.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
0,North American Industry Classification System ...,June 2019,July 2019,August 2019,September 2019,October 2019,November 2019,December 2019,January 2020,February 2020,March 2020,April 2020,May 2020,June 2020
2,Industrial aggregate including unclassified bu...,"17,268,127","17,063,598","16,880,063","17,194,039","17,230,513","17,207,098","17,230,980","16,792,802","16,757,484","15,828,844","14,044,320","13,773,684","14,689,243"
3,Industrial aggregate excluding unclassified bu...,"16,957,344","16,749,357","16,558,361","16,883,924","16,915,542","16,898,817","16,916,185","16,477,363","16,449,918","15,538,499","13,793,669","13,539,625","14,432,303"
4,Goods producing industries 8,"3,073,670","3,092,368","3,095,380","3,083,282","3,060,314","3,023,667","2,969,948","2,838,126","2,852,630","2,653,933","2,382,683","2,496,445","2,724,433"
5,"Forestry, logging and support 9","43,805","44,917","43,145","40,664","39,104","37,486","36,332","33,266","33,022","32,176","27,189","29,329","37,368"

In [52]:
n_header = data.iloc[0] 
data = data[1:]
data.columns = n_header

In [53]:
data

,North American Industry Classification System (NAICS)4,June 2019,July 2019,August 2019,September 2019,October 2019,November 2019,December 2019,January 2020,February 2020,March 2020,April 2020,May 2020,June 2020
2,Industrial aggregate including unclassified bu...,"17,268,127","17,063,598","16,880,063","17,194,039","17,230,513","17,207,098","17,230,980","16,792,802","16,757,484","15,828,844","14,044,320","13,773,684","14,689,243"
3,Industrial aggregate excluding unclassified bu...,"16,957,344","16,749,357","16,558,361","16,883,924","16,915,542","16,898,817","16,916,185","16,477,363","16,449,918","15,538,499","13,793,669","13,539,625","14,432,303"
4,Goods producing industries 8,"3,073,670","3,092,368","3,095,380","3,083,282","3,060,314","3,023,667","2,969,948","2,838,126","2,852,630","2,653,933","2,382,683","2,496,445","2,724,433"
5,"Forestry, logging and support 9","43,805","44,917","43,145","40,664","39,104","37,486","36,332","33,266","33,022","32,176","27,189","29,329","37,368"
6,"Mining, quarrying, and oil and gas extraction","201,653","204,459","205,423","204,666","202,127","199,968","200,894","198,115","198,053","193,571","181,987","173,889","177,801"
7,Utilities,"128,902","130,055","128,970","127,277","128,109","127,743","127,925","127,272","125,872","124,555","122,635","121,692","120,927"
8,Construction,"1,087,014","1,096,566","1,110,301","1,116,798","1,108,404","1,086,916","1,038,021","945,049","961,719","885,401","747,578","846,014","962,740"
9,Manufacturing,"1,612,296","1,616,370","1,607,540","1,593,877","1,582,570","1,571,554","1,566,776","1,534,424","1,533,965","1,418,230","1,303,294","1,325,521","1,425,598"
10,Service producing industries 10,"13,883,675","13,656,989","13,462,981","13,800,643","13,855,228","13,875,151","13,946,237","13,639,237","13,597,288","12,884,566","11,410,987","11,043,181","11,707,870"
11,Trade 11,"2,854,275","2,850,623","2,839,282","2,830,843","2,833,387","2,863,626","2,901,143","2,823,966","2,778,437","2,590,843","2,274,276","2,267,077","2,471,502"
12,Transportation and warehousing,"785,875","772,855","772,122","793,185","799,223","801,019","812,078","798,272","781,120","740,735","707,906","681,368","719,344"
13,Information and cultural industries,"348,761","350,647","350,725","349,349","347,521","347,465","349,725","345,764","345,469","336,150","315,926","298,643","300,882"
14,Finance and insurance,"750,909","757,887","755,228","753,387","752,432","755,296","764,623","756,269","748,720","742,960","726,651","723,950","730,733"
15,Real estate and rental and leasing,"306,014","303,145","300,721","299,770","295,565","295,563","300,310","288,419","284,628","257,296","228,706","221,068","234,216"
16,"Professional, scientific and technical services","980,649","986,332","987,412","984,220","985,905","988,956","998,022","983,486","983,236","952,297","910,677","899,712","922,662"
17,Management of companies and enterprises,"112,681","110,331","110,082","110,836","110,484","111,613","113,498","112,208","114,341","110,641","105,230","103,429","107,233"
18,"Administrative and support, waste management a...","843,150","851,997","853,398","857,406","857,803","853,556","838,939","800,565","796,399","753,378","678,351","669,570","703,343"
19,Educational services,"1,393,108","1,097,315","950,933","1,319,841","1,445,338","1,473,966","1,472,271","1,408,323","1,469,437","1,452,556","1,333,096","1,219,553","1,183,944"
20,Health care and social assistance,"2,039,173","2,051,456","2,049,574","2,051,050","2,046,397","2,053,793","2,069,007","2,056,591","2,046,515","1,987,700","1,836,975","1,791,516","1,898,771"
21,"Arts, entertainment and recreation","338,884","357,258","349,650","335,493","316,852","293,919","291,275","286,901","287,804","260,446","147,093","140,293","168,960"
22,Accommodation and food services,"1,380,878","1,404,537","1,397,348","1,393,370","1,360,207","1,333,759","1,335,964","1,301,420","1,283,677","1,076,331","653,610","579,309","750,828"
23,Other services (except public administration),"565,703","568,653","562,814","563,052","560,464","559,817","560,511","544,182","541,159","490,059","392,128","372,908","423,324"
24,Public administration,"1,183,612","1,193,954","1,183,693","1,158,841","1,143,651","1,142,802","1,138,872","1,132,871","1,136,346","1,133,173","1,100,362","1,074,784","1,092,128"
25,Unclassified businesses 7,"310,782","314,241","321,703","310,115","314,971","308,281","314,795","315,439","307,566","290,345","250,651","234,059","256,940"