### How employement in Canada has been affected by Covid19 ?

Note: Data is up to June 2020.

In [1]:
import pandas as pd

- let's take a look at the data

In [2]:
data = pd.read_csv('data/1410020101-noSymbol.csv',header=None,engine='python', skiprows=5,skipfooter=21)
data.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
0,North American Industry Classification System ...,June 2019,July 2019,August 2019,September 2019,October 2019,November 2019,December 2019,January 2020,February 2020,March 2020,April 2020,May 2020,June 2020
1,NaN,Persons,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Industrial aggregate including unclassified bu...,"17,268,127","17,063,598","16,880,063","17,194,039","17,230,513","17,207,098","17,230,980","16,792,802","16,757,484","15,828,844","14,044,320","13,773,684","14,689,243"
3,Industrial aggregate excluding unclassified bu...,"16,957,344","16,749,357","16,558,361","16,883,924","16,915,542","16,898,817","16,916,185","16,477,363","16,449,918","15,538,499","13,793,669","13,539,625","14,432,303"
4,Goods producing industries 8,"3,073,670","3,092,368","3,095,380","3,083,282","3,060,314","3,023,667","2,969,948","2,838,126","2,852,630","2,653,933","2,382,683","2,496,445","2,724,433"

- Well, clearly we need to tidy things up, will start with getting rid of the second row as it contains no useful information

In [3]:
data = data.drop([1])
data.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
0,North American Industry Classification System ...,June 2019,July 2019,August 2019,September 2019,October 2019,November 2019,December 2019,January 2020,February 2020,March 2020,April 2020,May 2020,June 2020
2,Industrial aggregate including unclassified bu...,"17,268,127","17,063,598","16,880,063","17,194,039","17,230,513","17,207,098","17,230,980","16,792,802","16,757,484","15,828,844","14,044,320","13,773,684","14,689,243"
3,Industrial aggregate excluding unclassified bu...,"16,957,344","16,749,357","16,558,361","16,883,924","16,915,542","16,898,817","16,916,185","16,477,363","16,449,918","15,538,499","13,793,669","13,539,625","14,432,303"
4,Goods producing industries 8,"3,073,670","3,092,368","3,095,380","3,083,282","3,060,314","3,023,667","2,969,948","2,838,126","2,852,630","2,653,933","2,382,683","2,496,445","2,724,433"
5,"Forestry, logging and support 9","43,805","44,917","43,145","40,664","39,104","37,486","36,332","33,266","33,022","32,176","27,189","29,329","37,368"

- That's better, but we need to now transpose the data to facilate plotting

In [ ]:
data = data.transpose()
n_header = data.iloc[0] 
data = data[1:]
data.columns = n_header
data.head()

- Some of the columns are not expressive, so will remove them at they don't provide useful for us as readers. For analysts, more digging is needed!

In [ ]:
df_temp = data.copy()
df_temp.drop(['North American Industry Classification System (NAICS)4','Industrial aggregate including unclassified businesses 6 7',
             'Industrial aggregate excluding unclassified businesses 6 7','Unclassified businesses 7',
             'Other services (except public administration)','Service producing industries 10'],axis=1 ,inplace=True)
df_temp = df_temp.replace(',','', regex=True) # removing the commas from all columns at once
df_temp = df_temp.apply(pd.to_numeric, errors='coerce')
df_temp = df_temp.iloc[0:1,:].transpose()
df_temp.columns = ['plot']

- Now we can have our initial plot, exploring the constribution of each sector

In [ ]:
plot = df_temp.plot.pie(y='plot', figsize=(15, 15));
plot.get_legend().remove()

> Trade, good producing industries and health care represent the major players

- Now let's see how each one of these industries are holding up!

In [ ]:
# we will first some cleaning and also convert the date column into the porper format
data = data.replace(',','', regex=True) # removing the commas from all columns at once
data.iloc[:,0] = pd.to_datetime(data.iloc[:,0]) # this to_datetim is smart, let it do what it can first before trying to enforce a certain format

In [ ]:
data.head()

In [ ]:
# we need to rename the date column

In [ ]:
cols = data.columns.drop('North American Industry Classification System (NAICS)4')
df = data[cols].copy()
df[cols] = df[cols].apply(pd.to_numeric, errors='coerce')
df['date'] = data['North American Industry Classification System (NAICS)4']

In [ ]:
df = df.set_index('date')

In [ ]:
df

In [ ]:
# let's look at all coolumns
df.columns

In [ ]:
cols_plot = ['Goods producing industries 8','Transportation and warehousing', 'Forestry, logging and support 9',
             'Mining, quarrying, and oil and gas extraction', 'Construction','Information and cultural industries',
            'Finance and insurance','Real estate and rental and leasing']
axes = df[cols_plot].plot(marker='*', linestyle='None', figsize=(15, 15), subplots=True)
for ax in axes:
    ax.set_ylabel('Employment')

- In Canda, as the year 2020 was starting, news of the pandemic started to hit home but people were still not aware of its impact on their livelihood. But the numbers show that employment numbers were slowly declining since January with the biggest shock felt in March when the lockdown was announced.

- The good news is that we see all industries starting to rebound by June. However, some industries are bouncing much faster than others such as Forestry, Goods-producing industries as well as Construction. The least improvement is seen understandably in the Finance sector, Real State, and Transportation. Lagging far behind are the most negatively impacted industries: Mining, oil and gas, and Information and cultural industries.  The recent data released just weeks ago only show the numbers up to June, hopefully, we will see much better data for July and August once the data released.